amazon_textract_prettyprinter==0.0.13
boto3==1.24.4
botocore==1.27.17
charset_normalizer==3.0.1
fastapi==0.78.0
mangum==0.17.0
Pillow==9.3.0
pydantic==1.10.4
pytest==7.1.2
python_magic==0.4.27
setuptools==66.0.0
uvicorn==0.20.0
